extends templates/_template

block page-navigation
	ul
		+link-menu('#mundo', 'O Mundo como Você Vê')
		+link-menu('#trabalho', 'O mundo do trabalho')
		+link-menu('#projeto', 'Projeto de vida:O que você quer ser quando crescer?')
		+link-menu('#social', 'Eu e os outros (competência social)')
		+link-menu('#comunicar', 'Eu, você, nós: comunicar é preciso.')


block content
	section#introducao
		.container
			header
				h1.title Probabilidade e Estatistica
	article.main-article
		.container
			section#mundo
				h2.title O Mundo como você vê
				p
					|  O mundo não é o mesmo para cada um de nós: é diverso, plural, diferente, múltiplo. Você pode observar isso ao seu redor: note as várias posturas das pessoas, compare alguns aspectos de diferentes culturas. Esse é o foco central das questões que vamos abordar nesta aula: reconhecer a rica diversidade, inclusive cultural, construída ao longo de milênios de história, que compõe a essência das diferentes visões de mundo. A interpretação que fazemos do mundo revela caminhos próprios, particulares, que guiam nossa atuação pessoal e profissional. É preciso identificar como se compõe sua visão de mundo, quais valores a fundamentam. E, inclusive, como sua interpretação de mundo amplia a consciência da necessidade de valorizar a pluralidade para construir uma sociedade cada vez melhor. Sua visão de mundo pode ser mecanicista ou, então, abarcar uma visão sistêmica. A partir dessas diferentes visões, você assume atitudes mais passivas – valorizando adaptações às mudanças – ou atitudes mais ativas – com foco na mudança, inovação e transformação da realidade.
			section#trabalho
				h2.title O mundo do trabalho
				p
					| É fácil reconhecer quanto o trabalho é fundamental na vida humana e na própria evolução da sociedade. Mas o trabalho não foi sempre o mesmo em qualquer época ou lugar. O significado que damos ao trabalho se altera em função dos recursos e das condições oferecidas, podendo ser visto como motivador, desafiador, fator de crescimento e conquista ou, até mesmo, como um instrumento de dominação. Com a globalização, o trabalho sofreu mudanças significativas, o que transformou as formas de produção e o próprio mercado de trabalho. Neste cenário, novas configurações de trabalho revelam-se, podendo ser terceirizado, por projeto, a distância etc. Fortalece-se, então, a noção de empregabilidade, vista como um conjunto de ações que focam o desenvolvimento de habilidades e a busca de conhecimentos favoráveis à conquista ou à manutenção de uma colocação no mercado de trabalho. Outro relevante componente do mundo do trabalho é o empreendedorismo, que não se limita à criação ou à manutenção de um negócio próprio, pois apresenta hoje novas e diferentes maneiras de empreender.
			section#projeto
				h2.title Projeto de vida:O que você quer ser quando crescer?
				p
					| Juntar seus sonhos, desejos e aspirações para traçar um projeto de vida não é uma coisa simples, em que basta apenas pensar para que se concretize. Pelo contrário, requer que você estabeleça claramente o que quer (seus sonhos), junte tudo às diversas possibilidades, elegendo as mais significativas e passíveis de serem alcançadas, para então construir um plano que projete aonde quer chegar no futuro. Escrever este planejamento, discriminar as etapas, considerar diversos fatores que o influenciam, os pontos de avaliação e os momentos de ajustes de percurso vão ajudar você a se lançar com segurança em seu projeto de vida. Saber exatamente aonde quer chegar e quais caminhos vai trilhar para atingir seus objetivos envolve questões pessoais, profissionais, planejamento de carreira e também considerar como todas essas frentes compõem uma teia de relações intensas em sua vida. É ter clareza do percurso e tomar as rédeas para conduzir seu projeto de vida com segurança, cuidado e perseverança para chegar lá!
			section#social
				h2.title Eu e os outros (competência social)
				p
					| Somos seres sociais, formados por um complexo sistema de interações sociais. Por meio do processo de socialização – que é essencialmente cultural –, adquirimos formas próprias de agir, sentir, pensar, interpretar o mundo, interagir e, também, formas de atuar neste mundo. Entre os principais agentes de socialização e, portanto, de interações sociais estão a família, a escola, o mercado de trabalho, entre outros. Buscamos compreender o significado do desempenho socialmente competente investindo energia e empenho para ampliar nossas habilidades sociais. São essas habilidades que garantirão maior qualidade em nossas relações pessoais e profissionais. Note como a construção e manutenção de uma autoimagem positiva, reforçada perante a sociedade pelas qualidades pessoais e profissionais que possuímos, passam a ter importância neste cenário. A imagem pessoal se associa à imagem profissional requerendo atenção e cuidados para mantê-la positiva, regulando a impressão que os outros formam a nosso respeito. Neste contexto, convidamos você a fazer uma análise sobre as competências sociais que precisam ser constantemente desenvolvidas, uma vez que promovem experiências de conhecimento, crescimento e aprendizagem que, por sua vez, são enriquecidas em um contexto de diversidade cultural. Promoveremos, portanto, um debate étnico-racial, no qual Desenvolvimento Pessoal e Profissional |Tema 04 © 2014 Anhanguera Educacional. Proibida a reprodução final ou parcial por qualquer meio de impressão, em forma idêntica, resumida ou modificada em língua portuguesa ou qualquer outro idioma. 2 serão ressaltadas políticas de ação afirmativa por meio de alguns elementos para se pensar a complexa definição de raça, cor e grupo étnico.
			section#comunicar
				h2.title Eu, você, nós: comunicar é preciso.
				p
					| Reconhecer que a comunicação é a forma mais importante para nos ligarmos aos outros e ao mundo é também reconhecer que precisamos investir para otimizar nossa capacidade de comunicação e, inclusive, de interpretação. A interpretação não ocorre somente do que ouvimos. Também é feita considerando mensagens gestuais e símbolos, a partir de um texto lido, de uma coreografia de dança, de uma peça musical ou teatral, de uma obra de arte, uma fotografia. Note como o tempo todo estamos recebendo mensagens e fazendo interpretações. Isso significa que estamos “lendo e entendendo o mundo” de acordo com nossas referências, com o repertório que possuímos e que também vai se ampliando conforme novas e outras interpretações se realizam, como em um círculo vicioso. Nossa comunicação é composta por uma combinação de diversos elementos e pode ser feita de forma verbal e não verbal. As mensagens corporais contam como importantes ingredientes no cenário da boa comunicação. Considere também que está envolvida na comunicação de qualidade a capacidade de saber ouvir – a escuta ativa – como base para estabelecer diálogos. Há outras formas específicas de comunicação que estão mais presentes no universo corporativo: a capacidade de elaborar feedback e de falar em público.
			section#mundodigital
				h2.title Desbravando o mundo digital
				p
					| Somos seres sociais e precisamos da interação com nossos iguais. É com o pensamento e a linguagem que reconhecemos e modificamos a realidade que nos cerca, que interagimos com os outros e que somos capazes de criar e mudar. A linguagem é que nos dá a possibilidade de simbolizar o pensamento e decodificar o pensamento do outro, construindo o que chamamos de comunicação. É pela linguagem que efetivamos a troca de conhecimentos e experiências, interferindo inclusive na nossa percepção da realidade. A história humana se faz pela possibilidade de compartilhar mensagens, de passar adiante um fato, uma descoberta, uma informação, uma experiência. É assim que temos evoluído como espécie. A troca de mensagens, a circulação de informação e o relacionamento humano são imprescindíveis para a criação, inovação e evolução de novas ideias e conceitos. Fazem parte deste novo cenário a gestão do conhecimento, o trabalho colaborativo, o ensino a distância, que fomentam verdadeira democracia nos relacionamentos. Hoje, o grande diferencial das Tecnologias da Informação e Comunicação está na interatividade, ou seja, na participação ativa do usuário e na capacidade de manipulação do conteúdo da informação, que pode oferecer aos indivíduos oportunidades significativas de construção de conhecimentos e valores.
			section#indepedencia
				h2.title Conquistando o mundo- sua independência financeira
				p
					| Todos sabem que os recursos financeiros são parte importante na vida das pessoas e que sua falta pode acarretar infelicidade. Preocupar-se em administrar seu dinheiro é fundamental para ter uma vida boa, segura e tranquila. É possível recorrer a algumas estratégias que ajudam na administração mais inteligente e vantajosa das finanças compondo uma ótima forma de atingir seus objetivos. O conceito de “ser rico” é bastante subjetivo, ainda assim buscar a independência financeira deve ser foco relevante no seu projeto de vida. Vale considerar que há fatores que podem minar a tão sonhada independência financeira, tais como comprometimento, disciplina e dedicação. O esforço proposto num processo de apenas cinco passos, se seguidos de forma rigorosa e metódica, conduz diretamente a este objetivo garantindo um futuro tranquilo à família e valendo muito a pena no final das contas.

	
			
