extends templates/_template
block content
	
	mixin group-member(imgsrc, nome, ra)
		.col.group-member
			.avatar-container
				img(src=imgsrc alt='Foto de ' + nome)
			h2= nome
			p= 'RA: ' + ra
			
	section#introducao
		.container
			header
				h1.title Desafio Profissional
				h2.subtitle Tecnologia em Análise e Desenvolvimento de Sistemas
			p.text-justify
				| Desenvolvimento de site
	section#grupo
		.container
			header
				h1.title Grupo
			.grid
				+group-member('assets/img/isaque.jpg', 'Isaque Ramos da Silva', '2279636581')
				+group-member('assets/img/bruno.jpg', 'Bruno Garcia Costa', '6037557847')
				+group-member('assets/img/nayanne.jpg', 'Nayanne Rodrigues', '6009367488')
				+group-member('assets/img/noavatar.gif', 'Wellington Fernandes', '1906599362')
				+group-member('assets/img/allan.jpg', 'Alan Soares de Carvalho', '6036567960')
