extends templates/_template
block content
	section#introducao
		.container
			header
				h1.title Desafio Profissional
				h2.subtitle Tecnologia em Análise e Desenvolvimento de Sistemas
			p.text-justify
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quod, fugit, minima molestias voluptate, ratione accusantium cumque eaque et fugiat atque impedit neque laudantium eligendi facere molestiae, totam est quasi officia a quaerat quidem commodi deserunt! Ut, nostrum. Deserunt quam atque ratione debitis magnam repellendus, minima impedit accusantium repudiandae non repellat molestiae pariatur, cupiditate! Perspiciatis nihil non optio numquam qui adipisci dolorum laboriosam, eos, obcaecati voluptatem provident vitae earum accusamus ex architecto perferendis saepe eius facilis, voluptate repellendus rerum magnam. Officiis similique nam excepturi beatae ex expedita, ullam accusamus qui mollitia? Deleniti vero inventore saepe quaerat, sit quod vitae accusantium suscipit! Distinctio laboriosam odio id aperiam numquam, ab eos nobis!
	section#grupo
		.container
			header
				h1.title Grupo
			.grid
				.col.group-member
					.avatar-container
						img(src='assets/img/isaque.jpg', alt='Foto do Isaque')
					h2 Isaque Ramos da Silva
					p RA:2279636581
				.col.group-member
					.avatar-container
						img(src='assets/img/bruno.jpg', alt='Foto do Isaque')
					h2 Bruno Garcia Costa
					p RA:6037557847
				.col.group-member
					.avatar-container
						img(src='assets/img/isaque.jpg', alt='Foto do Isaque')
					h2 Wellington Fernandes
					p RA:1906599362
				.col.group-member
					.avatar-container
						img(src='assets/img/nayanne.jpg', alt='Foto do Isaque')
					h2 Nayanne Rodrigues
					p RA:6009367488
				.col.group-member
					.avatar-container
						img(src='assets/img/isaque.jpg', alt='Foto do Isaque')
					h2 Isaque Ramos da Silva
					p RA:2279636581
