doctype html
html(lang='en')
	head
		link(rel='stylesheet', type='text/css', href='assets/style.css')
		link(href='https://fonts.googleapis.com/css?family=Oswald:300,400', rel='stylesheet')
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		title Desafio Profiossional
	body
		.wrapper
			aside.main-navbar
				.inner
					header
						h1.logo-navbar
							| DESAFIO
							span PROFISSIONAL
					section.main-menu
						header.menu-section-title
							h2 Menu
						nav
							ul
								li
									a(href='') Home
								li
									a(href='') Ferramentas para Sistemas Web
								li
									a(href='sistemas_operacionais.html') Sistemas Operacionais
								li
									a(href='') Organização De Computadores
								li
									a(href='') DPP
								li
									a(href='') Probabilidade e Estatistica
			main.main
					block content
