
body {
    font-family: 'Oswald', sans-serif;
}

.wrapper {
	display: flex;
	flex-direction: row-reverse;
}


.main {
	width: 100%;
	background-color: #ffff66;
}

.main-nav {
	width: 350px;
	height: 100vh;
}

.main-nav ul {
	list-style: none;
}

.main-nav a {
	text-decoration: none;
	color: red;
}

.titulo {
	text-align: center;
}

.titulo span {
	color: #ffbf00;
}

